.first__contacts {
   .number-and-email {
      li {
         .number__link {
            margin: 0px 0px 0px 22px;
         }
         .email__link {
            margin: 0px 0px 0px 5px;
         }
      }
   }
}
.main {
   .info {
      .columns__info {
         .columns {
            .column {
               width: 370px;
            }
            .column.know-e {
               width: 330px;
            }
         }
      }
   }
}

@media (max-width: 992px) {
   .header {
      &__contacts {
         .first__contacts {
            .name {
               font-size: 37px;
            }
         }
      }
   }
}

@media (max-width: 767px) {
   .header {
      &__contacts {
         .first__contacts {
            .name {
               font-size: 25px;
            }
            .number-and-email {
               li {
                  .number__link {
                     margin: 0px 0px 0px 14px;
                  }
                  .email__link {
                     margin: 0px 0px 0px 3px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 390px) {
   .header {
      &__contacts {
         .first__contacts {
            .name {
               font-size: 18px;
            }
            .number-and-email {
               li {
                  font-size: 9px;
                  .number__link {
                     margin: 0px 0px 0px 11px;
                  }
                  .email__link {
                     margin: 0px 0px 0px 3px;
                  }
               }
            }
         }
      }
   }
}
