@import "nullestyle";

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   background: url("../img/паа76ааз.png") center / cover no-repeat fixed;
   overflow-x: hidden;
}

//* images size
.header__image {
   img {
      max-width: 200px;
   }
}
.viber {
   img {
      max-width: 50px;
   }
}
.facebook {
   img {
      max-width: 50px;
   }
}
.telegram {
   img {
      max-width: 50px;
   }
}
.whatsapp {
   img {
      max-width: 37px;
   }
}


.wripper {

}

.container {
   max-width: 1180px;
   margin: 0px auto;
   padding: 0px 10px;
}
.header {
   position: relative;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 0;
   &:before {
      content: "";
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #ff8000;
   }
   &__body {
      position: relative;
      z-index: 2;
      display: flex;
   }
   &__image {
      margin: 25px 0px 0px 0px;
      img {
         border-radius: 50%;
         border: 5px solid #22378f;
      }
   }
   &__contacts {
      display: flex;
      width: 100%;
      margin: 40px 0px 0px 0px;
      justify-content: space-between;
      .first__contacts {
         margin: 10px 0px 0px 20px;
         .name {
            font-size: 50px;
            color: #ff8000;
            h1 {
            }
         }
         .number-and-email {
            margin: 15px 0px 0px 0px;
         }
         li {
            color: #fff;
            font-size: 20px;
            margin: 10px 0px 10px 1px;
            background: url("") 0 1px / auto 100% no-repeat;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
            .number__link {
               margin: 0px 0px 0px 10px;
            }
            .email__link {
               margin: 0px 0px 0px 8px;
            }
            a {
               text-decoration: none;
               color: #fff;
               span {
               }
            }
            a:visited {
               color: purple;
            }
            a:hover {
               color: blue;
               text-decoration: underline;
            }
            a:active {
               color: #ff8000;
            }
         }
      }
      .next__contacts-languages {
         margin: 10px 0px 0px 0px;
         float: right;
         .languages {
            justify-content: end;
            display: flex;
            margin: 10px 0px 0px 0px;
            .ua,
            .en {
               a {
                  text-decoration: none;
                  cursor: pointer;
                  background: transparent;
                  color: #fff;
                  font-size: 20px;
                  border: 2px solid #fff;
                  border-radius: 20%;
                  padding: 5px;
               }
               a:hover {
                  color: blue;
                  border: 2px solid blue;
               }
            }
            .en {
               a {
                  margin: 0px 0px 0px 20px;
               }
            }
         }
         .inet__contacts {
            display: flex;
            margin: 40px 0px 0px 0px;
            li {
               padding: 0px 0px 0px 5px;
            }
            .viber {
               img {
                  transition: all 1s ease 0s;
               }
               img:hover {
                  max-width: 70px;
                  transition: all 1s ease 0s;
               }
            }
            .facebook {
               margin: 1px 0px 0px 0px;
               img {
                  transition: all 1s ease 0s;
               }
               img:hover {
                  max-width: 70px;
                  transition: all 1s ease 0s;
               }
            }
            .telegram {
               margin: 1px 0px 0px 0px;
               img {
                  transition: all 1s ease 0s;
               }
               img:hover {
                  max-width: 70px;
                  transition: all 1s ease 0s;
               }
            }
            .whatsapp {
               margin: 4px 0px 0px 0px;
               img {
                  transition: all 1s ease 0s;
               }
               img:hover {
                  max-width: 57px;
                  transition: all 1s ease 0s;
               }
            }
         }
      }
   }
}
.main{
   .info{
      margin: 30px 0px;
      .first__info{
         margin: 50px 0px 0px 0px;
         .text{
            color: #fff;
            font-size: 25px;
            width: 440px;
            line-height: 30px;
         }
      }
      .columns__info{
         margin: 50px 0px 0px 0px;
         .columns{
            display: flex;
            justify-content: space-between;
         }
         .column{
            .title{
               color: #ff8000;
               font-size: 30px;
               margin: 0px 0px 10px 0px;
            }
            .text{
               color: #fff;
               font-size: 25px;
               line-height: 30px;
            }
         }
         .column.know-e{
            width: 300px;
         }
      }
      .full__info{
         padding: 0px 0px 20px 0px;
         margin: 50px 0px 0px 0px;
         .title{
            font-size: 30px;
            color: #ff8000;
            margin: 0px 0px 20px 0px;
         }
         .text{
            color: #fff;
            font-size: 25px;
            line-height: 30px;
            p{
               margin: 15px 0px;
            }
         }
      }
   }
}


@media (max-width: 1024px) {
   .container {
      max-width: 900px;
   }
   .header__contacts{
      .next__contacts-languages{
         .inet__contacts{
            .viber, .facebook, .telegram{
               img,
               img:hover{
                  max-width: 50px;
                  transition: none;
               }
            }
            .whatsapp{
               img,
               img:hover{
                  max-width: 37px;
                  transition: none;
               }
            }
         }
      }
   }
}

@media (max-width: 992px) {
   .container {
      max-width: 800px;
   }
   .header__contacts{
      .first__contacts{
         .name{
            font-size: 40px;
         }
         .number-and-email{
            li{
               font-size: 18px;
            }
         }
      }
      .next__contacts-languages{
         .languages{
            .ua, .en{
               a{
                  font-size: 18px;
               }
            }
         }
      }
   }
   .main{
      .info{
         .first__info{
            .text{
               font-size: 20px;
               width: 350px;
            }
         }
         .columns__info{
            .columns{
               .column{
                  .title{
                     font-size: 25px;
                  }
                  .text{
                     font-size: 20px;
                  }
               }
               .column.know-e{
                  width: 230px;
               }
            }
         }
         .full__info{
            .title{
               font-size: 25px;
            }
            .text{
               font-size: 20px;
            }
         }
      }
   }
}

@media (max-width: 767px) {
   .container{
      max-width: 600px;
      margin: 0px auto;
      padding: 0px 10px;
   }
   .header{
      &::before{
         content: '';
         position: absolute;
         top: 160px;
         left: 0;
         height: 8px;
      }
      &__image {
         margin: 30px 0px 0px 0px;
         img {
            max-width: 150px;
            border: 5px solid #22378f;
         }
      }
      &__contacts{
         .first__contacts{
            margin: 15px 0px 0px 10px;
            .name{
               font-size: 27px;
            }
            .number-and-email{
               margin: 10px 0px 0px 0px;
               li{
                  margin: 5px 0px 5px 0px;
                  font-size: 13px;
               }
               .number__link {
                  margin: 0px 0px 0px 8px;
               }
               .email__link {
                  margin: 0px 0px 0px 6px;
               }
            }
         }
         .next__contacts-languages{
            margin: 15px 0px 0px 10px;
            .languages{
               .ua, .en{
                  a{
                     font-size: 13px;
                  }
               }
            }
            .inet__contacts{
               margin: 20px 0px 0px 0px;
               .viber, .facebook, .telegram{
                  img,
                  img:hover{
                     max-width: 40px;
                     transition: none;
                  }
               }
               .whatsapp{
                  img,
                  img:hover{
                     max-width: 27px;
                     transition: none;
                  }
               }
            }
         }
      }
   }
   .main{
      .info{
         .first__info{
            .text{
               font-size: 17px;
               line-height: 25px;
            }
         }
         .columns__info{
            .columns{
               .column{
                  .title{
                     font-size: 23px;
                  }
                  .text{
                     font-size: 17px;
                  }
               }
               .column.know-e{
                  width: 210px;
               }
            }
         }
         .full__info{
            .title{
               font-size: 23px;
            }
            .text{
               font-size: 17px;
               line-height: 25px;
            }
         }
      }
   }
}

@media (max-width: 550px) {
   .header{
      &::before{
         content: '';
         position: absolute;
         top: 150px;
         left: 0;
         height: 7px;
      }
      &__image{
         margin: 35px 0px 0px 0px;
         img{
            max-width: 140px;
         }
      }
      &__contacts{
         .first__contacts{
            margin: 20px 0px 0px 10px;
            .name{
               font-size: 20px;
            }
            .number-and-email{
               li{
                  font-size: 12px;
               }
               .number__link{
                  margin: 0px 0px 0px 6px;
               }
               .email__link{
                  margin: 0px 0px 0px 4px;
               }
            }
         }
      }
   }
}

@media (max-width: 440px) {
   .container{
      max-width: 400px;
      margin: 0px auto;
      padding: 0px 10px;
   }
   .header{
      &__body{
         display: block;
      }
      &::before{
         content: '';
         position: absolute;
         top: 120px;
         left: 0;
         height: 5px;
         width: 100%;
      }
      &__image{
         position: absolute;
         top: 0;
         left: 0;
         margin: 25px 0px 0px 0px;
         img{
            max-width: 110px;
            border: 3px solid #22378f;
         }
      }
      &__contacts{
         display: inline-block;
         .first__contacts{
            margin: 5px 0px 0px 120px;
            .name{
               font-size: 20px;
            }
            .number-and-email{
               li{
                  font-size: 10px;
               }
            }
         }
         .next__contacts-languages{
            float: left;
            margin: 20px 0px 0px 0px;
            width: 100%;
            .languages{
               position: absolute;
               top: 140px;
               left: 60%;
               .ua, .en{
                  a{
                     font-size: 10px;
                     border: 2px solid #fff;
                     border-radius: 15%;
                     padding: 5px;
                  }
               }
            }
            .inet__contacts{
               margin: 20px 0px 0px 0px;
               .viber, .facebook, .telegram{
                  img,
                  img:hover{
                     max-width: 30px;
                     transition: none;
                  }
               }
               .whatsapp{
                  margin: 3.5px 0px 0px 2px;
                  img,
                  img:hover{
                     max-width: 21px;
                     transition: none;
                  }
               }
            }
         }
      }
   }
   .main{
      .info{
         .first__info{
            .text{
               width: 100%;
            }
         }
         .columns__info{
            .columns{
               display: block;
               .column{
                  margin: 0px 0px 20px 0px;
               }
            }
         }
         .full__info{
            .text{
               width: 100%;
            }
         }
      }
   }
}

@media (max-width: 390px) {
   .container{
      max-width: 380px;
      margin: 0px auto;
      padding: 0px 10px;
   }
   .main{
      .info{
         .first__info{
            .text{
               font-size: 15px;
               line-height: 20px;
            }
         }
         .columns__info{
            .columns{
                  .column{
                  .title{
                     font-size: 21px;
                  }
                  .text{
                     font-size: 15px;
                     line-height: 20px;
                  }
               }
            }
            .first__info{
               .title{
                  font-size: 21px;
               }
               .text{
                  font-size: 15px;
                  line-height: 20px;
               }
            }
         }
      }
   }
}